.cartItem {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.cartItem-product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cartItem-product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cartItem-product-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.cartItem .cartItem-product-buttons {
  display: flex;
  gap: 10px;
}

.cartItem .cartItem-product-buttons button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cartItem .cartItem-product-buttons span {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.cartItem-product-total-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .cartItem {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .cartItem-product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
  }

  .cartItem-product-name {
    width: 120px;
    margin-bottom: 0;
  }

  .cartItem-product-price {
    margin: 0 5px;
  }

  .cartItem-product-total-price {
    margin: 0 5px;
  }
  
  .cartItem img {
    width: 120px;
    height: 120px;
  }

  .cartItem .cartItem-product-buttons span {
    font-size: 18px;
    padding: 5px 5px;
  }

  .cartItem .cartItem-product-buttons button{
    font-size: 18px;
    padding: 5px 10px;
  }
}


@media (min-width: 769px) {
  .cartItem {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .cartItem-product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
  }

  .cartItem-product-name {
    width: 200px;
    margin-bottom: 0;
  }

  .cartItem-product-price {
    margin: 0 10px;
  }

  .cartItem-product-total-price {
    margin: 0 10px;
  }

  .cartItem img {
    width: 120px;
    height: 120px;
  }

  .cartItem .cartItem-product-buttons span {
    font-size: 24px;
    padding: 10px 20px;
  }

  .cartItem .cartItem-product-buttons button{
    font-size: 24px;
    padding: 10px 20px;
  }
}

