.cart-summary {
  width: 100%;
  margin: 0 auto;
  border: none;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.total-price {
  font-weight: bold;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media (min-width: 900px) {
  .total-price {
    right: calc((100% - 900px) / 2 + 20px);
  }
}

.cart-buttons {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-buttons button {
  color: white;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  font-weight: 600;
}

.continue-shopping-button {
  background-color: #1f4975;
}

.continue-shopping-button:hover {
  background-color: #1a324d;
}

.checkout-button {
  background-color: #2d5f39;
}

.checkout-button:hover {
  background-color: #234b2c;
}
