.confirmation-modal {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 50px 20px;
  width: 100%;
}

.confirmation-modal p {
  font-size: 18px;
  margin-bottom: 20px;
}

.confirmation-modal button {
  margin: 0 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button-modal {
  background-color: #ad434e;
}

.cancel-button-modal:hover {
  background-color: #c82333;
}

.confirm-button-modal {
  background-color: #2d5f39;
}

.confirm-button-modal:hover {
  background-color: #234b2c;
}

@media (min-width: 769px) {
  .confirmation-modal {
    width: 100%;
    max-width: 100%;
  }

  .confirmation-modal p {
    font-size: 24px;
  }
  
  .confirmation-modal button {
    margin: 0 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
  }
  

}

