.fullscreen-button {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.password-input {
  margin-top: 10px;
  width: 30px;
  position: fixed;
  top: 30px;
  right: 20px;
  border: rgba(0, 0, 0, 0.281) 1px solid;
}