/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}


body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

/* Garantir que o conteúdo seja rolável */
body, html {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Fullscreen button */
button.fullscreen-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button.fullscreen-btn:hover {
  background-color: #0056b3;
}
