.payment-option {
  margin-bottom: 10px;
}

.payment-button {
  width: 60%;
  background-color: #1f4975;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.payment-button:hover {
  background-color: #173250;
}

.cancel-payment-button {
  width: 60%;
  background-color: #ad434e; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-payment-button:hover {
  background-color: #c82333;
}