.product-list {
  width: 100%;
  margin-top: 20px;
}

ul.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

ul.product-list li:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  ul.product-list li {
    width: calc(50% - 10px);
    max-width: 200px;
  }
}